html, body {
    margin: 0;
    padding: 0;
  }
  
.about-me p{
    font-family: 'Raleway', sans-serif;
    width: 50%;
    text-align: center;
    border: 0.1px solid;
    margin: auto;
    padding: 30px;
}

.about-me div{
    border: 3px dotted white;
    width: fit-content;
    margin: 0 auto 20px;
    background-color: rgb(71, 91, 107);
    border-radius: 30px;
}

.about-me h2{
    color: white;
}

.about-me i{
    font-size: 50px;
    padding: 30px 30px;
    color: white;
}


.solid{
    border-top: 3px solid #bbb;
    width: 70%;
    margin: 30px auto;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

ul{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

header{
    background-color: rgb(71, 91, 107);
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: right;
}

header nav{
    padding: 10px 20px 10px 0px;
    text-align: right;
    border: 2px solid white;
    
}



main{
    position: relative;
    top: 70px; 
    bottom: 20px;
    overflow: scroll;
}


nav li{
    text-align: right;
    list-style: none;
    display: inline;
    padding: 2rem;
    font-weight: 400;
    font-weight: bold;
    font-size: larger;
}

.welcome{
    /* background-image: url("https://images.unsplash.com/photo-1682687220211-c471118c9e92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"); */
    background-image: url("https://images.unsplash.com/photo-1686904423955-b928225c6488?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover ;
    text-align: center;
    width: 100%;
    top: 0px;
    border: 2px solid;
    margin-bottom: 50px;
}

.welcome h1{
    color: white;
    font-size: 50px;
}
.welcome li{
    padding: 30px 0px;
    color: white;
    list-style: none;
    font-weight: 900;
}

.proj{
    border: 0.1px solid;
    width: 50%;
    text-align: center;
    margin: auto;
}

.skills{
    border: 0.1px solid;
    width: 50%;
    text-align: center;
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}

footer i{
    text-align: center;
    color: white;
    display: inline;
    padding: 20px 30px;
}


footer div{
    border: 1px solid white;
    width: fit-content;
    margin: auto;
    padding: auto;
}

footer{
    position: sticky;
    bottom: 0px;
    width: 100%;
    padding: 15px 0;
    margin-top: 50px;
    background-color: rgb(71, 91, 107);
    z-index: 2;
    text-align: right;
}
